.popup-content {

  background: rgb(255, 255, 255);
  margin-left: -10px;
@media screen and (max-width: 768px){
  margin-top: 30px;
  margin-left: 25px;
}

}

.menu {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  border: 0.5px solid #EAEAEA;
  border-radius: 12px;
  box-sizing: border-box;
padding: 10px;
  &__item{
    cursor: pointer;


    border: none;
    background-color: #fff;
    margin: 10px;
    p {
      font-size: 14px;
      color: #1E1E1E;
      font-weight: normal;

    }
  }
}

.menu-item:hover {
  color: #2980b9;
}