
.salaryFilter {
  box-sizing: border-box;


  &__inputs {
    padding: 0;
    display: flex;
    justify-self: center;
    align-items: center;
    margin-top: 20px;

    input {
      box-sizing: border-box;
      width: 106px;
      height: 40px;
      border: 1px solid #EAEAEA;
      padding-left: 30px;
      font-size: 16px;
      font-weight: 300;
      margin: 0 15px;
    }

    p {
      font-size: 16px;
    }

    @media (max-width: 500px) {
    justify-content: space-between;

    }
  }

  &__range {
    margin-top: 24px;

    .rc-slider {
      height: 0.5px;
    }

    .rc-slider-step {
      background-color: #EAEAEA;
      height: 1px;
    }

    .rc-slider-rail {
      height: 1px;
    }

    .rc-slider-track {
      top: 5px;
      z-index: 1;
      height: 1px;
      background-color: #000046;
    }

    .rc-slider-handle {
      margin-top: -6px;
    }

    .rc-slider-handle-1 {
      background-color: #000046;
      margin-top: -7px;
      border: none;
      height: 15px;
      width: 15px;
    }

    .rc-slider-handle-2 {
      height: 23px;
      width: 23px;
      background-color: #FFF9E4;
      border: 4px solid #000046;
      z-index: 2;
      margin-top: -11px;
    }

    .rc-slider-handle:active {
      border-color: #000046;
      box-shadow: 0 0 10px #57c5f7;

    }

    .rc-slider-handle-click-focused:focus {
      border-color: #000046;
      box-shadow: unset;
    }


  }


  &__switch {

    display: flex;
    margin: 20px 0;
    align-items: center;
  }





}